.vien {
  text-align: center;
  display: flex;
  height: 100vh;
  position: relative;
}

hr {
  height: 3px;
  background-color: black;
}

.btn-compro {
  background-color: #98ca3f;
  columns: black;
  border-radius: 10px;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
  left: 25%;
}
.btn-compro:hover {
  background-color: #c2db97;

}


.lado {
  flex: 40%;
  display: block;
  width: 100%;
  height: 100vh;
  height: auto;
  margin: 5px;
}

.title {
  background-color: #F7ECDE;
  margin: 10px;
  padding: 10px;
  border-radius: 7px;
}

.btn-ope {
  width: 100%;
  padding: 10px;
  border: 0;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.operacion {
  display: flex;
  flex-direction: column;
}

.number {
  min-height: 120px;
  font-size: 7rem;
}

.ope-up {
  flex: 2;
  position: relative;
}
.result {
  flex: 1;
}

.signo {
  position: absolute;
  top: 40%;
  left: 20%;
  font-size: 5rem;
}

/* lado ----------B------- */
.box-figure {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-result {
  display: flex;
  flex-wrap: wrap;
}

/* -------Box---------- */
.box {
  flex: 20%;
  display: block;
  width: 100%;
  height: auto;
  background-color: #A084CF;
  margin: 10px;
  border-radius: 7px;
  position: relative;
}

.box-img {
  width: 90%;
}

.box-btn {
  position: absolute;
  bottom: 2rem;
  left: -1.5rem;
}

.btn {
  background-color: #774360;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.btn:hover {
  background-color: #774f65;
}


.btn:active {
  transform: scale(0.9);
}

.btn__box {
  display: block;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: all ease .3s;
}

.bol {
  width: 3rem;
  height: 3rem;
  margin-left: 7px;
  background-image: url(https://i.postimg.cc/QM09PkFD/bol.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.c {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

@media (max-width: 1000px) {
  .lado {
    flex: 30%;
  }
  .box {
    flex: 10%;
  }
  .bol {
    width: 2rem;
    height: 2rem;
  }
  
}